<%= form_with model: material, local: true do |question| %>
  <%= render 'shared/errors', resource: @question %>
  <p><%= question.label :question%></p>
  <p><%= question.text_area :body %></p>
  <%= question.submit %>
<% end %>

<br>

<%= link_to 'Back', test_questions_path(@test) %>
