<h1><%= @question.test.category.title%> <%= @question.test.title%></h1>
<p>
<h2><%= @question.body %></h2>
<%= form_with model: @question do |answers| %>
  <p>
  <%= answers.collection_select(:answer, @question.answers, :correct, :body) %>
  </p>
  <%= answers.submit 'Confirm' %>
<% end %>
<%= link_to 'Back', test_path(@question.test) %>
