<div class="row justify-content-center mt-3 text-center">
  <div class="col col-md-4">
    <h2><%= t('.header', test_title: @result.test.title) %></h2>

    <% @result.set_q_number %>

    <b>
      <%= t('.question', q_number: @result.q_number, q_count: @result.test.questions.count) %>
      <div id="myProgress">
        <div id="myBar">
          <%= content_tag :span, @result.calculate_percent, class: "barrgot", data: { width: "start" } %>
        </div>
      </div> 
      <br>
      <div class="row justify-content-center mt-3 text-center bg-warning text-dark rounded border-dark">
        <%= @result.current_question.body %>
      </div>
    </b>

    <div class="row justify-content-left mt-3 text-left">
      <%= form_with url: result_path(@result), local: true, method: :put do |form| %>
        <%= form.collection_check_boxes :answer_ids, @result.current_question.answers, :id,
                                        :body, include_hidden: false do |b| %>
          <p>
            <%= b.check_box  id: "answer_ids_#{b.object.id}" %>
            <%= b.label %>
          </p>
        <% end %>

        <p><%= link_to 'Gist Question', gist_result_path(@result), method: :post %></p>
        <p><%= form.submit t('.next'), class: "btn btn-warning" %></p>
      <% end %>
    </div>
  </div>
</div>
