<h2><%= t('.header', category: @question.test.category.title, title: @question.test.title) %></h2>
<p>
<h3><%= @question.body %></h3>
</p>

<h4><%= t('.answers') %></h4>

<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('.back'), admin_test_path(@question.test) %>
