<%= form_with model: @feedback, local: true do |feedback| %>
  <p>
    <%= feedback.label :from %>:<br>
    <%= feedback.text_field :from, id: :feedback_from %>
  </p>

  <p>
    <%= feedback.label :email %>:<br>
    <%= feedback.text_field :email, id: :feedback_email %>
  </p>

  <p>
    <%= feedback.label :body %>:<br>
    <%= feedback.text_area :body, id: :feedback_body, rows: 5, cols: 30 %>
  </p>

  <p><%= feedback.submit %></p>
<% end %>
