<%= form_with model: [:admin, @test], local: true do |test| %>
  <div class="row text-left">
    <div class="col">
      <%= render "devise/shared/error_messages", resource: @test %>
     </div>
  </div>

  <div class="field mt-3">
    <%= test.label :category_id %>:
    <%= test.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </div>

  <div class="field mt-3"> 
    <%= test.label :title %>
    <%= test.text_field :title, id: :test_title %>
  </div>

  <div class="field mt-3">
    <%= test.label :level %>
    <%= test.number_field :level, id: :test_level %>
  </div>

  <div class="field mt-3">
    <%= test.label :timer %>
    <%= test.number_field :timer, id: :test_timer %>
  </div>

  <div class="actions mt-3">
    <%= test.submit %>
  </div>
<% end %>
    <br>
