<tr>
  <th scope="row" class="align-middle"><%= test.category.title %></th>
  <td class="align-middle"><%= test.title %></td>
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= button_to t('.button_to'), start_test_path(test), class: "btn btn-success" %></td>
</tr>
