<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="hat">
      <h1><%= link_to TestGuru, root_path %></h1>

      <% if logged_in? %>
        <nav class="user">
          Welcome, <b><%= current_user.name %></b> Guru |
          <%= link_to 'Exit', logout_path,
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %>
        </nav>
      <% else %>
        <p>
          <%= link_to 'Registrate', signup_path %> | 
          <%= link_to 'Login', login_path %>
        </p>
      <% end %>
    </nav>

    <%= yield %>
  </body>

  <footer>
  <p>Краткое описание проекта.</p>
  <p>
    Проект создаётся в рамках курса "Основы Rails" онлайн школы 
    <%= link_to 'Thinknetika', "https://thinknetica.com", target: "_blank" %>.
    Название проекта:
    <%= git_url "Akalaimakalai", 'TestGuru' %>.
  </p>
  <p>
    Его основные заачи:
  <ul>
    <li>создание тестов</li>
    <li>управление тестами</li>
    <li>прохождение тестов</li>
   </ul>
   <%= link_to 'Akalaimakalai', "https://github.com/Akalaimakalai", target: "_blank" %>
   <%= today_year %>
  </p>
  </footer>
</html>
