<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
  <p>Краткое описание проекта.</p>
  <p>
    Проект создаётся в рамках курса "Основы Rails" онлайн школы 
    <%= git_sauce "https://thinknetica.com", 'Thinknetika' %>.
    Название проекта:
    <%= git_sauce "https://github.com/Akalaimakalai/TestGuru", 'TestGuru' %>.
  </p>
  <p>
    Его основные заачи:
  <ul>
    <li>создание тестов</li>
    <li>управление тестами</li>
    <li>прохождение тестов</li>
   </ul>
   <%= git_sauce "https://github.com/Akalaimakalai", 'Akalaimakalai' %>
   <%= today_year %>
  </p>
  </footer>
</html>
