<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
  <p>Краткое описание проекта.</p>
  <p>
    Проект создаётся в рамках курса "Основы Rails" онлайн школы 
    <a href = "https://thinknetica.com" target="_blank">Thinknetika</a>.
    Название проекта: <a href = "https://github.com/Akalaimakalai/TestGuru" target="_blank">TestGuru</a>.
  </p>
  <p>
    Его основные заачи:
  <ul>
    <li>создание тестов</li>
    <li>управление тестами</li>
    <li>прохождение тестов</li>
   </ul>
   <a href = "https://github.com/Akalaimakalai" target="_blank">Akalaimakalai</a>
   <%= Time.now.year %>
  </p>
  </footer>
</html>
